body{
	margin: 0px;
	padding: 0px;
	background-color: none;

}
.slider{
	width:800px;
	height: 400px;
	background-image: url(1.jpg); 
	margin: 100px auto;
	animation: slide 10s infinite;
}
@keyframes slide {
	25%{
	   background-image: url(1.jpg);	
	}
	50%{
	   background-image: url(2.jpg);	
	}
	75%{
	   background-image: url(iimt4.jpg);	
	}
	100%{
	   background-image: url(4.jpg);	
	}
}